extends _layout

block page_title
  | Serviços

block head
    link(rel="stylesheet",href="/css/servicos.css")/

block content
  section.row
    .col-sm-12
      #services

block footer
  script(src="/js/servicos.js")
